Dashboard: Display all destinations
Users can create new destinations
Users can remove destinations
User can update destinations
Validations
All fields are required except for the checkboxes
Display back end errors